absl-py==0.12.0
adabound==0.0.5
addict==2.4.0
adjustText==0.7.3
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
argh==0.26.2
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bkcharts==0.2
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent==1.2.2
conda==4.10.1
conda-build==3.20.5
conda-verify==3.4.2
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glob2==0.7
gmpy2==2.0.8
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
HeapDict==1.0.1
imagesize==1.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.5
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nose==1.3.7
numexpr==2.7.1
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.2.52
opt-einsum==3.3.0
packaging==20.4
parso==0.7.0
partd==1.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
protobuf==3.15.8
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.6
pyflakes==2.2.0
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
requests-oauthlib==1.3.0
rsa==4.7.2
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.6.2
screen==1.0.1
seaborn==0.11.1
SecretStorage==3.1.2
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.13
sklearn==0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tables==3.6.1
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2020.10.1
torch==1.8.1+cu111
torch-tb-profiler==0.2.1
torchaudio==0.8.1
torchstat==0.0.7
torchvision==0.9.1+cu111
tornado==6.0.4
typing-extensions==3.7.4.3
unicodecsv==0.14.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
